@(tconst: String, titleForm: Form[Title], companies : Seq[(String, String)])(implicit requestHeader: MessagesRequestHeader)

@import views.html.helper._

@main {

<h1>View Title</h1>


<fieldset>

    @CSRF.formField
    @inputText(titleForm("primaryTitle"), '_label -> "Primary Title", '_help -> "")
    @inputText(titleForm("originalTitle"), '_label -> "Original Title", '_help -> "")
    @inputText(titleForm("titleType"), '_label -> "Type", '_help -> "")
    @inputText(titleForm("startYear"), '_label -> "Start Year", '_help -> "")
    @inputText(titleForm("endYear"), '_label -> "End Year", '_help -> "")
    @inputText(titleForm("runtimeMinutes"), '_label -> "Runtime Minutes", '_help -> "")
    @inputText(titleForm("genres"), '_label -> "Genres", '_help -> "")

</fieldset>

}
